# -*- mode: snippet -*-
# name: bayeslong
# key: bayeslong
# group: math
# --
\\Pr(${1:H} \\mid ${2:E}) = \\frac{\\Pr($1) \\times \\Pr($2 \\mid $1)}{\\Pr($1) \\times \\Pr($2 \\mid $1) + \\Pr(\\neg $1) \\times \\Pr($2 \\mid \\neg $1)}



