# -*- mode: snippet -*-
# name: beamer-data
# group: beamer
# --
#+SUBTITLE: ${1:Subtitle}
#+AUTHOR: ${2:Dr.} Ridenour
#+DATE: `(format-time-string "%B %e, %Y")`
#+BEAMER_HEADER: \institute{Department of Philosophy}
#+BEAMER_THEME: basicwhite[school,sections]
#+OPTIONS: H:3

$0