# -*- mode: snippet -*-
# name: beamer notes
# group: beamer
# key: bnote
# --
**** Slide Note :B_note:
:PROPERTIES:
:BEAMER_ENV: note
:END:

$1

*** Article Note
:PROPERTIES:
:BEAMER_env: ignoreheading
:HTML_CONTAINER_CLASS: note
:END:

$1

$0