# -*- mode: snippet -*-
# name: blog image
# key: blogimage
# group: blog
# --
#+attr_html: alt: ${1:Alternative text}
#+attr_html: title: ${2:Image title}
#+caption: ${3:Caption text}
#+attr_html: :width 450px
$0