# -*- mode: snippet -*-
# name: OBU Signature
# key: obusig
# --
Randy Ridenour, Ph.D.\\\\
Professor of Philosophy\\\\
Oklahoma Baptist University\\\\
500 W. University St.\\\\
Shawnee, OK  74804\\\\
Office: 405-585-4432

$0