# -*- mode: snippet -*-
# name: orgblogt
# key: orgblogt
# group: blog
# --
#+date: <`(format-time-string "%Y-%m-%d %a %H:%M")`>
#+filetags: 
#+setupfile: ../org-templates/post.org

$0

#+begin_tagline
Tagged: 
#+end_tagline
